body{
    margin: 0;
    background-color: black;
    color: white;
}
#titulo{
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style:italic;
    font-weight: bold;
}
#total{
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.jugadorMaquina{
    display: flex;
    justify-content: space-evenly;
}
#partido{
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
#elecciones{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color:transparent;
    
}
#correccion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
img{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}
.botonTryAgain{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.botonTryAgain:before, #buttons:after{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.botonTryAgain:active, #buttons::before {
    color: #000
}

.botonTryAgain:active:after, #buttons:active:before {
    background: transparent;
}

.botonTryAgain:hover:before, #buttons:hover:after {
    opacity: 1;
}

.botonTryAgain:after,#buttons:before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
